@page "/news"

@using Finik.Core.Abstractions.Services
@using Finik.Contracts

<h3>News</h3>

@foreach (var news in _news)
{
    <div>@news.HeadLine</div>
}
<div>
    
</div>

@code {
    [Inject] private INewsManager NewsManager { get; set; } = null!;

    private IReadOnlyList<NewsDto> _news = new List<NewsDto>();

    protected override async Task OnInitializedAsync()
    {
        _news = await NewsManager.GetAllNews();
    }

}
